backports.entry-points-selectable==1.1.0
click==8.0.3
colorama==0.4.4
distlib==0.3.3
filelock==3.3.1
Flask==2.0.2
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
itsdangerous==2.0.1
Jinja2==3.0.2
MarkupSafe==2.0.1
platformdirs==2.4.0
six==1.16.0
SQLAlchemy==1.4.26
virtualenv==20.8.1
Werkzeug==2.0.2
